<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BotUI</title>
	<link rel="stylesheet" href="./static/dist/botui.min.css" />
    <link rel="stylesheet" href="./static/dist/botui-theme-default.css" />
</head>
<body>
	<div>
		
			<div class="botui-app-container" id="home-demo">
			      <bot-ui></bot-ui>
			</div>
		
	</div>
	<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
	<script src="./static/dist/botui.min.js"></script>
	<script type="text/javascript">
		var homeBot = BotUI('home-demo');
		homeBot.message.add({
		  content: '你好，我是小仙女！'
		}).then(function () {
		  return homeBot.message.add({
		    delay: 1500,
		    content: '本仙女亲自为你提供特殊服务'
		  });
		}).then(function () {
		  return homeBot.action.button({
		    delay: 1000,
			content: '老铁搜一个？',
		    action: [{
		      text: '好的!',
		      value: 'sure'
		    }, {
		      text: '不用了😒',
		      value: 'skip'
		    }]
		  });
		}).then(function (res) {
		  if(res.value == 'sure') {
		    tutorial();
		  }
		  if(res.value == 'skip') {
			homeBot.message.add({
				delay: 1500,
				type: 'embed',
				content: '../static/img/face.jpg'
		  	});
		    end();
		  }
		});

		var tutorial = function () {
		  homeBot.message.add({
		    delay: 1000,
		    content: "太好了，下面我们就开始来一些简单的演示。。。"
		  }).then(function () {
		    return homeBot.message.add({
		      delay: 1000,
		      content: '例如：'
		    });
		  }).then(function () {
		    return homeBot.message.add({
		      delay: 1200,
		      content: '你叫什么名字？（填写后按回车键）'
		    });
		  }).then(function () {
		    return homeBot.action.text({
		      delay: 800,
		      action: {
		        value: '老王',
		        placeholder: '填写你的名字'
		      }
		    });
		  }).then(function (res) {
		    return homeBot.message.bot({
		      delay: 500,
		      content: res.value + ' 是个好名字！'
		    });
		  })
		  .then(function (res) {
		    return homeBot.action.button({
		      delay: 1400,
		      action: [
		      	{text: '看本好书', value: 'book'},
		      	{text: '看个电影', value: 'movie'},
		      	{text: '听首好歌', value: 'music'}
		      ]
		    });
		  }).then(function (res) {
			  if(res.value == 'book'){
				return homeBot.message.add({
				  delay: 1200,
				  type: 'embed',
				  content: './getBookData'
				});
			  }else if(res.value == 'movie'){
			  	return homeBot.message.add({
				  delay: 1200,
				  type: 'embed',
				  content: './getMovieData'
				});
			  }else if(res.value == 'music'){
			  	return homeBot.message.add({
			  	  delay: 1200,
				  type: 'embed',
				  content: './getMusicData'
			  	});
			  }
		  }).then(function (res) {
		    return homeBot.message.bot({
		      delay: 2500,
		      content: '本仙女还可以为你提供更有趣的服务。'
		    });
		  }).then(function (res) {
		    return homeBot.message.bot({
		      delay: 1000,
		      content: '期待下次再见。'
		    });
		  }).then(end);
		};

		var end = function () {
		  homeBot.message.add({
		    delay: 1000,
		    content: '小仙女的最新状态请关注 !https://github.com/Ralph-Finn/HACK-B5'
		  });
		};


	</script>
</body>
</html>