<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>小仙女多媒体检索系统</title>
	<link rel="stylesheet" type="text/css" href="./static/css/htmleaf-demo.css">
	<link rel="stylesheet" type="text/css" href="./static/css/style.css">
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="htmleaf-container">
		<div class="iphone">
		    <div class="iphone-top">
		      <span class="camera"></span>
		      <span class="sensor"></span>
		      <span class="speaker"></span>
		    </div>
		    <div class="top-bar"></div>
		    <div class="iphone-screen" style="background:#FFFFFF">
		      <!--<img src="./static/img/Awesome-iPhone-Wallpapers.jpg" alt="" />-->
				<iframe src="./botUI" width="375px" height="677px"></iframe>
		    </div>
		    <div class="buttons">
		      <span class="on-off"></span>
		      <span class="sleep"></span>
		      <span class="up"></span>
		      <span class="down"></span>
		    </div>
		    <div class="bottom-bar"></div>
		    <div class="iphone-bottom">
		      <span></span>
		    </div>
		  </div>
		</div>
	</div>
	
</body>
</html>